.review-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 3rem;
}

.review-rating {
  color: hsl(48, 100%, 67%);
}

.review-content {
  margin-top: 1rem;
}

.review-published-at {
  color: hsl(0, 0%, 71%);
  text-align: center;
}

.review-footer {
  display: flex;
}

.review-footer > p {
  margin-right: 1rem;
}

.responses-indicator-icon {
  color: hsl(217, 71%, 53%);
  text-align: right;
}
