.review-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.review-rating {
  color: hsl(48, 100%, 67%);
}

.review-content {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.review-published-at {
  color: hsl(0, 0%, 71%);
}

.review-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.review-published-at {
  text-align: center;
}

.responses-indicator-icon {
  color: hsl(217, 71%, 53%);
  text-align: right;
}
